[Unit]
Description=radio.js
After=network.target

[Service]
WorkingDirectory=/home/radio
User=root
ExecStart=/usr/bin/xvfb-run --server-args "-screen 0 1920x1080x24" /usr/bin/node /home/radio/main.js
Restart=on-failure

[Install]
WantedBy=default.target
